{{> employerTemplate}}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>PI Reports</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="/employer/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active">PI Reports</li>
            </ol>
        </nav>
    </div>

    <section class="section dashboard">
        <div class="row">

            <!-- Dashboard Cone -->
            <div class="col-lg-12">
                <div class="row">

                    <!-- Residents Card -->
                    <div class="col-xxl-4 col-md-4">
                        <div class="card info-card customers-card">
                            <div class="card-body">
                                <h5 class="card-title">Residents <span>| All KDOC</span></h5>
                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-people"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{countItems caseLoad}}</h6>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div><!-- End Residents Card -->

                    <!-- Resumes Count Card -->
                    <div class="col-xxl-4 col-md-4">
                        <div class="card info-card sales-card">

                            <div class="card-body">
                                <h5 class="card-title">Resumes <span>| Pending</span></h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-clipboard-check"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{countArrayItems resumeNeedReview}}
                                        </h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Resumes Count Card -->

                    <!-- Applicants Card -->
                    <div class="col-xxl-4 col-md-4">
                        <div class="card info-card revenue-card">

                            <div class="card-body">
                                <h5 class="card-title">Applicants <span>| To Review</span></h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-card-list"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{countArrayItems allJobApplicants}}</h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Applicants Card -->









                </div>
            </div><!-- End Dashboard Cone -->

        </div>
    </section>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
{{> footer}}

{{> arrowUp}}