{{> employerTemplate}}

<main id="main" class="main">

    <div class="pagetitle">
        <h1 class="text-capitalize">PI Reports <span class="text-capitalize text-muted small">|
                {{user.companyName}}</span></h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="/employer/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active">PI Reports</li>
            </ol>
        </nav>
    </div>
    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-xxl-4 col-md-4">
                        <div class="card info-card sales-card">
                            <div class="card-body">
                                <h5 class="card-title">PI Employees <span>| Create Report</span></h5>
                                <div class="row mb-3">
                                    <legend class="col-form-label ">Select Fields:</legend>
                                    <form method="POST" action="/employer/employedResidentsReport">
                                        <div class="form-check">
                                            <input name="facility" class="form-check-input" type="checkbox"
                                                id="facility">
                                            <label class="form-check-label" for="facility">
                                                Facility
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input name="firstName" class="form-check-input" type="checkbox"
                                                id="firstName">
                                            <label class="form-check-label" for="firstName">
                                                First Name
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input name="lastName" class="form-check-input" type="checkbox"
                                                id="lastName">
                                            <label class="form-check-label" for="lastName">
                                                Last Name
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input required name="residentID" class="form-check-input" type="checkbox"
                                                id="residentID">
                                            <label class="form-check-label" for="residentID">
                                                Resident ID
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input name="outDate" class="form-check-input" type="checkbox" id="outDate">
                                            <label class="form-check-label" for="outDate">
                                                Out Date
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input name="custodyLevel" class="form-check-input" type="checkbox"
                                                id="custodyLevel">
                                            <label class="form-check-label" for="custodyLevel">
                                                Custody Level
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input name="jobPool" class="form-check-input" type="checkbox" id="jobPool">
                                            <label class="form-check-label" for="jobPool">
                                                Job Pool
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input name="unitTeam" class="form-check-input" type="checkbox"
                                                id="unitTeam">
                                            <label class="form-check-label" for="unitTeam">
                                                Unit Team
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input name="companyName" class="form-check-input" type="checkbox"
                                                id="companyName">
                                            <label class="form-check-label" for="companyName">
                                                Company Name
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input name="dateHired" class="form-check-input" type="checkbox"
                                                id="dateHired">
                                            <label class="form-check-label" for="dateHired">
                                                Date Hired
                                            </label>
                                        </div>
                                        <hr>
                                        <button type="submit" class="btn btn-primary">Export</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-4 col-md-4">
                        <div class="card info-card sales-card">
                            <div class="card-body">
                                <h5 class="card-title">PI Applicants <span>| Create Report</span></h5>
                                <div class="row mb-3">
                                    <legend class="col-form-label ">Select Fields:</legend>
                                    <form method="POST" action="/employer/applicantsReport">

                                        <div class="form-check">
                                            <input name="facility" class="form-check-input" type="checkbox"
                                                id="facility">
                                            <label class="form-check-label" for="facility">
                                                Facility
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input name="firstName" class="form-check-input" type="checkbox"
                                                id="firstName">
                                            <label class="form-check-label" for="firstName">
                                                First Name
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input name="lastName" class="form-check-input" type="checkbox"
                                                id="lastName">
                                            <label class="form-check-label" for="lastName">
                                                Last Name
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input required name="residentID" class="form-check-input" type="checkbox"
                                                id="residentID">
                                            <label class="form-check-label" for="residentID">
                                                Resident ID
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input name="outDate" class="form-check-input" type="checkbox" id="outDate">
                                            <label class="form-check-label" for="outDate">
                                                Out Date
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input name="custodyLevel" class="form-check-input" type="checkbox"
                                                id="custodyLevel">
                                            <label class="form-check-label" for="custodyLevel">
                                                Custody Level
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input name="jobPool" class="form-check-input" type="checkbox" id="jobPool">
                                            <label class="form-check-label" for="jobPool">
                                                Job Pool
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input name="unitTeam" class="form-check-input" type="checkbox"
                                                id="unitTeam">
                                            <label class="form-check-label" for="unitTeam">
                                                Unit Team
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input name="companyName" class="form-check-input" type="checkbox"
                                                id="companyName">
                                            <label class="form-check-label" for="companyName">
                                                Company Name
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input name="dateApplied" class="form-check-input" type="checkbox"
                                                id="dateApplied">
                                            <label class="form-check-label" for="dateApplied">
                                                Date Applied
                                            </label>
                                        </div>
                                        <hr>
                                        <button type="submit" class="btn btn-primary">Export</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-xxl-4 col-md-4">
                        <div class="card info-card customers-card">
                            <div class="card-body">
                                <h5 class="card-title">PI Interviews <span>| Create Report</span></h5>
                                <div class="row mb-3">
                                    <legend class="col-form-label ">Select Fields:</legend>
                                    <form method="POST" action="/employer/interviewReport">

                                        <div class="form-check">
                                            <input name="facility" class="form-check-input" type="checkbox"
                                                id="facility">
                                            <label class="form-check-label" for="facility">
                                                Facility
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input name="firstName" class="form-check-input" type="checkbox"
                                                id="firstName">
                                            <label class="form-check-label" for="firstName">
                                                First Name
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input name="lastName" class="form-check-input" type="checkbox"
                                                id="lastName">
                                            <label class="form-check-label" for="lastName">
                                                Last Name
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input required name="residentID" class="form-check-input" type="checkbox"
                                                id="residentID">
                                            <label class="form-check-label" for="residentID">
                                                Resident ID
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input name="outDate" class="form-check-input" type="checkbox" id="outDate">
                                            <label class="form-check-label" for="outDate">
                                                Out Date
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input name="custodyLevel" class="form-check-input" type="checkbox"
                                                id="custodyLevel">
                                            <label class="form-check-label" for="custodyLevel">
                                                Custody Level
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input name="jobPool" class="form-check-input" type="checkbox" id="jobPool">
                                            <label class="form-check-label" for="jobPool">
                                                Job Pool
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input name="unitTeam" class="form-check-input" type="checkbox"
                                                id="unitTeam">
                                            <label class="form-check-label" for="unitTeam">
                                                Unit Team
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input name="dateRequested" class="form-check-input" type="checkbox"
                                                id="dateRequested">
                                            <label class="form-check-label" for="dateRequested">
                                                Date Requested
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input name="dateScheduled" class="form-check-input" type="checkbox"
                                                id="dateScheduled">
                                            <label class="form-check-label" for="dateScheduled">
                                                Date Scheduled
                                            </label>
                                        </div>
                                        <hr>
                                        <button type="submit" class="btn btn-primary">Export</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


{{> footer}}
{{> arrowUp}}