{{> unitTeamTemplate}}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Resident Profile</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/unitTeam/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active">Resident Profile</li>
            </ol>
        </nav>
    </div>

    {{> residentProfile}}
</main>

<!-- ======= Footer ======= -->
{{> footer}}
{{> arrowUp}}