{{> unitTeamTemplate}}


<main id="main" class="main">

    <div class="pagetitle">
        <h1>Resident Profile</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/unitTeam/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active">Resident Profile</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    {{> residentProfile}}
</main><!-- End #main -->


<!-- ======= Footer ======= -->
{{> footer}}
{{> arrowUp}}

{{!-- MODAL FOR REJECT RESUME --}}
<div class="modal fade" id="basicModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="/clearance/rejectResume/{{resident.residentID}}">
                <div class="modal-header">
                    <h5 class="modal-title">Reject Resume</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col-sm-10">
                            <select required name="rejectReason" id="rejectReason" class="form-select"
                                aria-label="Rejection reason">
                                <option selected value="">Select reason for rejection:
                                </option>
                                <option value="inappropriate">Inappropriate content
                                </option>
                                <option value="inaccurate">Inaccurate content</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button id="" type="submit" class="btn btn-danger">Reject</button>
                </div>
            </form>
        </div>
    </div>
</div><!-- End Basic Modal-->


{{!-- Request Clearance Modal --}}
<div class="modal fade" id="clearanceModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="clearance-form" method="post" action="">
                <div class="modal-header">
                    <h5 id="request-title" class="modal-title">Request <span id="data-category"></span> Clearance</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="request-body" class="d-block">
                        {{!-- recipients email --}}
                        <div class="row mb-3">
                            <div class="col-sm-10">
                                <div class="row mb-3 col-md-8 col-lg-9">
                                    <label for="recipient" class="form-label text-muted">Recipient
                                        Email</label>
                                    <div class="input-group mb-3">
                                        <input required type="email" class="form-control" id="recipient"
                                            name="recipient">
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- additional comments --}}
                        <div class="row mb-3">
                            <div class="col-sm-10">
                                <textarea name="comments" class="form-control"
                                    placeholder="Additional notes or comments" style="height: 100px;"></textarea>
                            </div>
                        </div>
                    </div>
                    <div id="done-body" class="d-none">
                        <h3 class="text-center">Request Sent.</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <div id="request-btns" class="d-block">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button id="" type="submit" class="btn btn-info">Request</button>
                    </div>
                    <div id="done-btn" class="d-none">
                        <button type="button" class="btn btn-info" data-bs-dismiss="modal">Close</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div><!-- End clearance modal-->

{{!-- Edit Clearance Modal --}}
<div class="modal fade" id="editModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="edit-form" method="post" action="">
                <div class="modal-header">
                    <h5 id="request-title" class="modal-title">Edit <span id="edit-data-category"></span> Clearance</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="request-body" class="d-block">
                        {{!-- recipients email --}}
                        <div class="row mb-3">
                            <div class="col-sm-10">
                                <select required name="clearance" id="editData" class="form-select" aria-label="edit">
                                    <option selected value="">Select clearance status:
                                    </option>
                                    <option value="true">Approve Clearance
                                    </option>
                                    <option value="false">Deny Clearance</option>

                                </select>
                            </div>
                        </div>
                        {{!-- additional comments --}}
                        <div class="row mb-3">
                            <div class="col-sm-10">
                                <textarea name="comments" class="form-control"
                                    placeholder="Additional notes or comments" style="height: 100px;"></textarea>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button id="" type="submit" class="btn btn-warning">Edit</button>


                </div>
            </form>
        </div>
    </div>
</div><!-- End Edit modal-->

{{!-- Approve Resident Work Eligibility Modal --}}
<div class="modal fade" id="approveResident" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="/clearance/approveEligibility/{{resident.residentID}}">
                <div class="modal-header">
                    <h5 class="modal-title">Approve Work Eligibility</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <legend class="col-form-label ">Eligibility Requirements:</legend>
                        <div class="">

                            <div class="form-check">
                                <input required name="medCheck" class="form-check-input" type="checkbox"
                                    id="gridCheck1">
                                <label class="form-check-label" for="gridCheck1">
                                    Medically cleared?
                                </label>
                            </div>
                            <div class="form-check">
                                <input required name="EAICheck" class="form-check-input" type="checkbox"
                                    id="gridCheck2">
                                <label class="form-check-label" for="gridCheck2">
                                    EAI cleared?
                                </label>
                            </div>
                            <div class="form-check">
                                <input required name="classCheck" class="form-check-input" type="checkbox"
                                    id="gridCheck3">
                                <label class="form-check-label" for="gridCheck3">
                                    Classification determined?
                                </label>
                            </div>
                            <div class="form-check">
                                <input required name="sexOffenderCheck" class="form-check-input" type="checkbox"
                                    id="gridCheck4">
                                <label class="form-check-label" for="gridCheck4">
                                    Sex offender status determined?
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Approve</button>
                </div>
            </form>
        </div>
    </div>
</div><!-- End Approve Modal-->

{{!-- Reject Resident Work Eligibility Modal --}}
<div class="modal fade" id="rejectResident" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="/clearance/rejectEligibility/{{resident.residentID}}">
                <div class="modal-header">
                    <h5 class="modal-title">Restrict Work Eligibility</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col-sm-10">
                            <select required name="rejectReason" id="rejectReason" class="form-select"
                                aria-label="Rejection reason">
                                <option selected value="">Select reason for restriction:
                                </option>
                                <option value="classification">Classification Hold
                                </option>
                                <option value="security">Facility Security</option>
                                <option value="sex-offender">Sex Offender
                                </option>
                                <option value="citizenship">Citizenship Issues
                                </option>
                                <option value="medical">Medical Restrictions
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button id="" type="submit" class="btn btn-danger">Restrict</button>
                </div>
            </form>
        </div>
    </div>
</div><!-- End Basic Modal-->

<script type="text/javascript" src="/../assets/js/residentApprovalForm.js"></script>

<script type="text/javascript" src="/../assets/js/requestClearance.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {

        const clearanceValues = document.querySelectorAll('.clearanceCheck')


        // Function to check if all clearances are "true"
        function checkClearances() {
            let allApproved = true;

            clearanceValues.forEach((element) => {
                const value = element.textContent.trim(); // Get the text value of the element
                if (value !== "true") {
                    allApproved = false; // If any value is not "true", set allApproved to false
                }
            });

            // Show or hide the button based on the clearance check
            const approveClearance = document.getElementById("approveClearance");
            if (allApproved) {
                approveClearance.style.display = "block"; // Show the button
            } else {
                approveClearance.style.display = "none"; // Hide the button
            }
        }

        // Run the check initially
        checkClearances();
    });
</script>