<main>
    <div class="container">

        <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
            <h2>Thank You!</h2>
            <h2>Your assistance is appreciated.</h2>
            <a class="btn" href="/">KCI Private Industries</a>
            <img src="/assets/img/not-found.svg" class="img-fluid py-5" alt="Page Not Found">
    </div>
    </section>

    </div>
</main><!-- End #main -->

{{> arrowUp}}